<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p>hello world</p>
    <ul>
      <% @response['categories'].each do |category,details| %>
      <li><%= category %></li>
      <ul>
        <% details.each do |detail| %>
        <li><a href='search/?genre=<%= detail %>'><%= detail %></a></li>
        <% end %>
      </ul>
      <% end %>
    </ul>
  </body>
</html>
